<br><br><br><br>
  <h4>
    Exp: <%= current_player.exp %><br>
    Class: <%= current_player.rpg_class %><br>
    Damage: <%= current_player.damage %><br>
    Defense: <%= current_player.defense %><br>
    Gold: <%= current_player.gold %><br>
    HP: [<%= current_player.hp_max %>  /  <%= current_player.hp_actual %>]<br>
    K/D: [<%= current_player.kills %>  /  <%= current_player.deaths %>]<br>
    Level: <%= current_player.level %>
  </h4>
  <%= link_to 'Battles played by you', '/rpg/find_battles/'+current_player.id.to_s %>
