<br><br><br><br>
  <h6>
    Exp: <%= current_player.exp %><br>
    Class: <%= current_player.rpg_class %><br>
    Damage: <%= current_player.damage %><br>
    Defense: <%= current_player.defense %><br>
    Gold: <%= current_player.gold %><br>
  </h6>
