<% if !current_user.player.atacable? %>
  <% if !current_player.is_dead? %>
  <center><h1>You are in the city! Enjoy, you are safe :)</h1></center>
  <% else %>
  <center><h1>You are dead. Wait until your resurrection :( </h1></center>
  <% end %>
  <div class="row">
    <div class="large-3 columns">
      <%= render 'store' %>
    </div>
    <div class="large-3 columns">
      <%= render 'chat' %>
    </div>
    <div class="large-3 columns">
      <%= render 'jungle' %>
    </div>
    <div class="large-3 columns">
      <%= render 'mission' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="large-3 columns">
      <% if current_player.can_go_city? %>
        <%= link_to 'City', { :controller => 'rpg', :action => 'go_city' } %>
      <% end %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Attack', '/rpg/targets' %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Stealth', '/rpg/stealth' %>
    </div>
    <div class="large-3 columns">
    </div>
  </div>
<% end %>
