<% if !current_user.player.atacable? %>
  <div class="row">
    <div class="large-3 columns">
      <%= link_to 'Store', '/rpg/store' %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Chat', '/rpg/chat' %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Jungle', '/rpg/jungle' %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Mission', '/rpg/mission' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="large-3 columns">
      <%= link_to 'City', '/rpg/city' %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Attack', '/rpg/targets' %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Stealth', '/rpg/stealth' %>
    </div>
    <div class="large-3 columns">
    </div>
  </div>
<% end %>
