<% if !current_user.player.atacable? %>
  <div class="row">
    <div class="large-3 columns">
      <%= render 'store' %>
    </div>
    <div class="large-3 columns">
      <%= render 'chat' %>
    </div>
    <div class="large-3 columns">
      <%= render 'jungle' %>
    </div>
    <div class="large-3 columns">
      <%= render 'mission' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="large-3 columns">
      <%= link_to 'City', '/rpg/city' %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Attack', '/rpg/targets' %>
    </div>
    <div class="large-3 columns">
      <%= link_to 'Stealth', '/rpg/stealth' %>
    </div>
    <div class="large-3 columns">
    </div>
  </div>
<% end %>
