<br>
<div class="row">
  <div class="small-6 columns">
    <%= link_to 'Home', root_path, class: "button success round large" %>
    <%= link_to 'RPG', rpg_path, class: "button success round large" %>

  </div>
  <div class="large-6 columns">
    <% if !signed_in? %>
      <%= link_to 'Sign In', signin_path, class: "button success round large" %>
      <%= link_to 'Sign Up', signup_path, class: "button success round large" %>
    <% else %>
      <%= link_to image_tag('profile_settings.png'), url_for('/users/edit'), :class => 'quick', :remote => true, :title => "Change your account options!" %>
      <%= link_to "#{current_user.name}", current_user, class: "button success round large" %>
      <%= link_to 'Sign Out', signout_path, method: "delete", class: "button success round large" %>
    <% end %>
    </div>
    </div>

  </ul>


